html {
  box-sizing: border-box;
  background-color: #f1f1f1;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html, body, p {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
  gap: 0 5px;
}

img {
  max-width: 100%;
}

@font-face {
  font-family: 'Muller';
  src: local('Muller-Regular'),
    url("../fonts/MullerRegular.woff2") format("woff2"),
    url("../fonts/MullerRegular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Muller';
  src: local('Muller-Light'),
    url("../fonts/MullerLight.woff2") format("woff2"),
    url("../fonts/MullerLight.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Muller';
  src: local('Muller-Medium'),
    url("../fonts/MullerMedium.woff2") format("woff2"),
    url("../fonts/MullerMedium.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Muller';
  src: local('Muller-Bold'),
    url("../fonts/MullerBold.woff2") format("woff2"),
    url("../fonts/MullerBold.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

body {
  min-width: 1200px;
  font-family: 'font', sans-serif;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.flex {
  display: flex;
}

.conteiner {
  margin: 0 auto;
  padding: 0 15px;
  width: 1200px;

}

.section-title {
  margin: 0;
  margin-bottom: 20px;
}

.description-text {
  margin: 0;
  width: 888px;
  font-family: Muller;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 200%;
  /* 32px */
  color: #000;
}

.descr-text {
  font-family: Muller;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 200%;
  /* 32px */
  color: #000;
}

.header {
  margin-bottom: 70px;
  padding: 30px 0;
}

.conteiner-top {
  margin-bottom: 30px;
  align-items: center;
  min-height: 54px;
}

.header-phone {
  margin: 0;
  margin-right: auto;
  font-family: Muller;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  color: #666;
}

.key {
  margin: 0;
  display: flex;
  align-items: center;
  width: 155px;
  font-family: Muller;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #C93;
}

.logo {
  margin: 0;
  margin-right: 40px;
}

svg {
  margin: 0;
}

.link-arrow {
  align-items: center;

}

.conteiner-bottom {
  margin: 0;
  padding: 14px 45px;
  align-items: center;
  justify-content: space-between;
  border-radius: 15px;
  background: #FFF;
}


.conteiner-nav-item {
  margin: 0;
  font-family: Muller;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #666;
}

.conteiner-nav-item:not(:last-child) {
  margin-right: 45px;
}

.header-button:not(:last-child) {
  margin-right: 40px;
}

.button {
  padding: 13px 20px;
  min-height: 42px;
  font-family: Muller;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border-radius: 10px;
  border: 1px solid #C93;
  background-color: #FFF;
  color: #C93;
}

.btn-header-first {
  width: 110px;
}

.btn-header-last {
  width: 179px;
}

.special {
  margin-bottom: 70px;
}

.special-content {
  display: flex;
  min-height: 540px;
}

.special-block {
  display: flex;
  flex-direction: column;
  width: calc((100% - 30px) / 2);
}

.special-block:not(:last-child) {
  margin-right: 30px;
}

.special-item {
  flex: 1;
  margin-bottom: 30px;
  padding: 40px 108px 40px 45px;
  flex-direction: column;
  justify-content: flex-end;
}

.special-img1 {
  background-image: url(../img/bg1.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 15px;
}

.special-img2 {
  background-image: url(../img/bg2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 15px;
}

.special-img3 {
  background-image: url(../img/bg3.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 15px;
}

.item-right {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.special-item:last-child {
  margin-bottom: 0;
}

h1 {
  margin: 0;
  margin-bottom: 15px;
  min-width: 420px;
  font-family: Muller;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.special-title {
  font-family: Muller;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  color: #FFF;
}

.special-text {
  margin: 0;
  margin-bottom: 47px;
  font-family: Muller;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #FFF;
}

.special-link {
  margin: 0;
  margin-right: 5px;
  display: flex;
  align-items: center;
  font-family: Muller;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #F0BF5F;
}

.special-title-last {
  margin: 0;
  padding: 0;
  margin-bottom: 15px;
  font-family: Muller;
  font-size: 60px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.special-text-last {
  font-family: Muller;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #FFF;
}

h2 {
  margin: 0;
  margin-bottom: 20px;
  padding-left: 50px;
  font-family: Muller;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #333;
}

.descr {
  margin-bottom: 70px;
}

.services {
  margin-bottom: 70px;
}

.services-list {
  flex-wrap: wrap;
}

.services-item {
  margin: 0;
  margin-bottom: 20px;
  padding-top: 191px;
  padding-right: 45px;
  padding-bottom: 35px;
  padding-left: 45px;
  width: 573px;
  min-height: 330px;
  background-color: #fff;
  border-radius: 15px;
}

.services-item:not(:nth-child(2n)) {
  margin-right: 20px;
}

.services-item:nth-last-child(-n+2) {
  margin-bottom: 0;
}

.item-img10 {
  background-image: url(../img/bg10.jpg);
  background-size: auto;
  background-repeat: no-repeat;
}

.item-img11 {
  background-image: url(../img/bg11.jpg);
  background-size: auto;
  background-repeat: no-repeat;
}

.item-img12 {
  background-image: url(../img/bg12.jpg);
  background-size: auto;
  background-repeat: no-repeat;
}

.item-img13 {
  background-image: url(../img/bg13.jpg);
  background-size: auto;
  background-repeat: no-repeat;
}

.services-text {
  margin: 0;
  width: 440px;
  min-height: 64px;
}

.services-title {
  display: inline-block;
  display: flex;
  align-items: center;
  margin: 0;
  font-family: Muller;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 200%;
  /* 40px */
  color: #C93;
}

.advantages-list {
  flex-wrap: wrap;
}

.advantages-item {
  margin-bottom: 20px;
  padding: 116px 42px 32px 45px;
  width: 276px;
  min-height: 276px;
  border-radius: 15px;
  background: #FFF;
}

.advantages-item:not(:nth-child(4n)) {
  margin-right: 22px;
}

.advantages-item:nth-last-child(-n+4) {
  margin-bottom: 0;
}

.item-img20 {
  background-image: url(../img/bathtub.jpg);
  background-repeat: no-repeat;
  background-position: top 40px left 45px;
}

.item-img21 {
  background-image: url(../img/hanger.jpg);
  background-repeat: no-repeat;
  background-position: top 40px left 45px;
}

.item-img22 {
  background-image: url(../img/heating.jpg);
  background-repeat: no-repeat;
  background-position: top 40px left 45px;
}

.item-img23 {
  background-image: url(../img/hotel-key.jpg);
  background-repeat: no-repeat;
  background-position: top 40px left 45px;
}

.item-img24 {
  background-image: url(../img/parking.jpg);
  background-repeat: no-repeat;
  background-position: top 40px left 45px;
}

.item-img25 {
  background-image: url(../img/reception.jpg);
  background-repeat: no-repeat;
  background-position: top 40px left 45px;
}

.item-img26 {
  background-image: url(../img/security-box.jpg);
  background-repeat: no-repeat;
  background-position: top 40px left 45px;
  ;
}

.item-img27 {
  background-image: url(../img/swimming-pool.jpg);
  background-repeat: no-repeat;
  background-position: top 40px left 45px;
}

.advantages-text {
  margin: 0;
  width: 189px;
}

.advantages {
  margin-bottom: 70px;
}

.accommodation-list {
  flex-wrap: wrap;
}

.accommodation-item {
  margin-bottom: 24px;
  width: 374px;
  min-height: 440px;
  border-radius: 15px;
  background: #FFF;
}

.accommodation-item:not(:nth-child(3n)) {
  margin-right: 24px;
}

.accommodation-item:nth-last-child(-n+3) {
  margin-bottom: 0;
}

.accommodation-item:last-child {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-top: 373px;
  padding-right: 70px;
  padding-bottom: 27px;
  padding-left: 54px;
}

.accommodation-link {
  margin: 0;
  display: flex;
  align-items: center;
  width: 266px;
  font-family: Muller;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 200%;
  /* 40px */
  color: #FFF;
}

.accommodation-flex {
  align-items: center;
  justify-content: space-between;
}

.accommodation-content {
  margin: 0;
  padding-top: 32px;
  padding-left: 45px;
  padding-bottom: 45px;
  padding-right: 45px;
}

.accommodation {
  margin-bottom: 70px;
}

.country {
  font-family: Muller;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #999;
}

.text-price {
  width: 47px;
}

.star {
  margin: 0;
  padding-right: 6px;
}

b {
  font-family: Muller;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  color: #000;
}

.country-text {
  margin: 0;
  padding-right: 4px;
}

.not-star {
  margin: 0;
  margin-bottom: 16px;
  height: 20px;
}

h3 {
  margin: 0;
  margin-bottom: 16px;
  width: 191px;
}

.country-name {
  margin: 0;
  margin-bottom: 20px;
}

.item-img41 {
  background-image: url(../img/41.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 15px;
}

.accommodation-button {
  width: 100px;
  min-height: 42px;
}

/* tour */

.tour {
  margin-bottom: 70px;
}

.container-tour {
  padding-top: 45px;
  padding-right: 40px;
  padding-bottom: 45px;
  padding-left: 40px;
  border-radius: 15px;
  background-color: #E9E9E9;
}

.tour-title {
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
  font-family: Muller;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #000;
}

.form {
  display: flex;
  align-items: center;
  margin-left: 5px;
  padding: 32px 28px;
  border-radius: 15px;
  background: #FFF;
}

.select-city {
  min-width: 169px;
  border: none;
}

.input-tourists {
  width: 121px;
  border: none;
}

.input-nights {
  width: 121px;
  border: none;
}

.select-country {
  border: none;
}

.input-date {
  border: none;
}

.span {
  display: inline-block;
  margin-bottom: 15px;
  font-family: Muller;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #000;
}

.label:not(:last-child) {
  padding-right: 41px;
}

.tour-button {
  padding: 13px 30px;
  min-width: 108px;
  height: 42px;
}


/* contacts */

.contacts {
  margin-bottom: 70px;
}

.conteiner-contacts {
  padding: 45px;
  justify-content: space-between;
  border-radius: 15px;
  background: #FFF;
}

.contacts-item {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #E9E9E9;
  margin-bottom: 25px;
}

.contacts-nav {
  margin: 0;
  width: 229px;
  flex-direction: column;
}

.contacts-nav:not(:first-child) {
  margin-bottom: 25px;
}


.contacts-left {
  width: 375px;
}

.contacts-link {
  font-family: Muller;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
  color: #C93;
}

.contacts-paragraf {
  font-family: Muller;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
  color: #000;
}

.contacts-paragraf-gray {
  font-family: Muller;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
  color: #999;
}

.contacts-button {
  margin: 0;
  padding: 30px;
}


/*footer*/
.footer {
  margin-bottom: 70px;
}

.footer-container {
  padding-top: 45px;
  padding-left: 45px;
  padding-right: 45px;
  min-height: 341px;
  border-radius: 15px;
  background: #333;
}

.footer-list-left {
  width: 302px;
}

.footer-item-left:not(:last-child) {
  margin-bottom: 39px;
}

.footer-list-center {
  width: 359px;
}

.footer-container {
  justify-content: space-between;
}

.footer-descr {
  font-family: Muller;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 190%; /* 30.4px */
  color: #FFF;
}

.footer-item-center {
  display: flex;
  flex-direction: column;
}

.footer-item-center:not(:last-child) {
  margin-bottom: 15px;
}

.footer-center {
  margin-right: 100px;
}

.footer-logo {
  background-image: url(../img/Frame11.svg);
  background-position: 83% 100%;
  background-repeat: no-repeat;

}

.footer-item-right:not(:last-child) {
  margin-bottom: 20px;
}
